<% include top %>
<section id="game" class="gameBackgroundMenu">
<h1><%= title %> </h1>
<div id="title"></div>
<div id="UserInfo">
<p>Name: <%= user.username %> (id: <%= user.id %>)</p>
<p>E-Mail: <%= user.email %></p>
</div>
</section>
<% include bottom %>