<% include top %>
<form method='POST' action='/login'>
    <p>User name: <input type='text' name='username'></p>
    <p>Password: <input type='text' name='password' /></p>
    <p><input type='submit' value='Submit'/></p>
</form>
<% include bottom %>