<% include top %>
<section id="game">
<div id="title"> </div>
<div id="userinfo">
<form method='POST' action='/login'>
    <p>User name: <input type='text' name='username'></p>
    <p>Password: <input type='text' name='password' /></p>
    <p><input class="button" type="image" src="images\login.png" value="Login"alt='Login'/></p>
</form>
</div>
</section>
<% include bottom %>