<% include top %>
<section id="game">
<form action="/usersadd" method="post">
    <label for="username">Username</label>
    <input type="text" name="username">
    <% if (typeof(errors) !== 'undefined' && typeof(errors.username) !== 'undefined') { %>
        <%= errors.username[0] %>
    <% } %>
    <br>

    <label for="username">Email</label>
    <input type="email" name="email">
    <br>

    <label for="username">Password</label>
    <input type="password" name="password">
    <br>

    <label for="username">Confirm Password</label>
    <input type="password" name="password-confirm">
    <br>

    <input type="submit" value="Submit">
</form>
</section>

<% include bottom %>