<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/flagCatcher.css' />
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/javascripts/flagcatcher.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

</head>
<body>
<div class='navbar'>
    <p>
        <% if (user) { %>
        <a href='/lobby'>Lobby</a>
        | <a href='/logout'>Log Out</a>
        | logged in as <a href='/account'><%= user.username %></a>
        <% } else { %>
                 <% } %> </p>
</div>