<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Sniper</title>
		<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../stylesheets/flagcatcher.css" />

		<script src="/socket.io/socket.io.js"></script>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="/javascripts/flagcatcher.js"></script>

		<script>
   			var gameID = <%- JSON.stringify(game.id) %>;
		</script>

		<script src="/javascripts/game.js"></script>
	</head>
	<body>
		<header>
			<h2>Flag Catcher</h2>
		</header>

		<div>
		    Creator ID: <%= game.UserId %>
		</div>
		<br />
		<div>
		    Players <br />
		    <% game.users.forEach(function(player, index) { %>
		        <%= player.dataValues.username %> <br />
		    <% }); %>
		</div>


			
		<section id="game">
			<div class="button" id="playBtn" ></div>
			<div class="button" id="creditsBtn" ></div>
			<div id="title"> </div>
			<div id="score"></div>
			
			<div class= "player" id="player"></div>
			<div class= "player" id="player"></div>

		</section> <!-- #game -->
		
		<div id="logs">

	</div>

		<footer>
			<p>Catch as many flags as possible!</p>
		</footer>
	</body>
</html>


