body {
	font-family: 'Audiowide', serif;
	font-size: 48px;
	text-shadow: 4px 4px 4px #aaa;
	text-align: center;	
	background: #aaa url(../images/bg.jpg);
	color:#663553;
}

h1{

font-size: 36px;
color:#000000;

font-weight:bolder;
	position: relative;
	font-family:Arial, Helvetica, sans-serif;
}

.button{
	border-radius: 10px;
	border: 3px solid #773333;
	width: 170px;
	height: 25px;
	
}
#playBtn{
	border: 3px solid #773333;
	background: #aaa url(../images/play.png);
	
	top: 370px;
	left: 30%;
	position: relative;
}
#creditsBtn{
	background: #aaa url(../images/credits.png);
	top: 339px;
	left: 51%;
	position: relative;
}
#title{
	border: 3px solid #773333;
	background: #aaa url(../images/title.png);
	width: 430px;
	height: 170px;
	
	left: 275px;
	top: 60px;
	position: relative;
}
#title2{
	border: 3px solid #773333;
	background: #aaa url(../images/title.png);
	width: 430px;
	height: 170px;
	
	left: 275px;
	top: 60px;
	position: relative;
}

#title3{
	border: 3px solid #773333;
	background: #aaa url(../images/title.png);
	width: 430px;
	height: 170px;
	
	left: 275px;
	top: 0px;
	position: relative;
}
.scoreClass{
	height: 10px;
	position: relative;
	left: -35%;
	position: absolute;
}
.gameBackgroundMenu{
	background: #955 url(../images/intro.png);
}
.gameBackgroundPlay{
	background: #955 url(../images/background.png);
}
#game {
	border-radius: 10px;
	border: 3px solid #773333;
	-webkit-box-shadow: 0 -1px 0 #999, 0 1px 0 #999, inset 0 1px 6px #000;
	width: 1000px;
	height: 600px;
	margin: 0 auto;
	position: relative;
}
.player{
	width: 17px;
	height: 37px;
	position: absolute;
	/*top: 100px;
	left: 100px;*/
    float: left;
}
/*#player2{
	width: 17px;
	height: 37px;
	position: relative;
	top: 63px;
	left: 200px;
}*/

.flag{
	width: 10px;
	height: 23px;
    position: relative;
    float: left;
}

#blueFlag
{
	background: url(../images/flagBlue.png);
    position: relative;

}
#redFlag
{
	background: url(../images/flagRed.png);
	position: relative;

}

.mine{
	background: url(../images/mine.png);
	border: 3px #999;
	width: 15px;
	height: 6px;
	/*position: absolute;*/
}

.recoveryZone
{
	width: 100px;
	height: 100px;
}
#blueRecoveryZone{
	background: url(../images/recoveryBlue.png);
	/*position: absolute;*/
	top: 0px;
	left: 300px;
}
#redRecoveryZone{
	background: url(../images/recoveryRed.png);
	/*position: absolute;*/
	top: 500px;
	left: 600px;
}


#boundary{
	background: url(../images/boundary.png);
	border: 3px #999;
	width: 10px;
	height: 600px;
	margin-left: 49%;
    float: left;
	position: absolute;
}


.leftEntirea {
background: url(../images/lefta.png);
border: 3px #999;
width: 15px;
height: 37px;
}
.rightEntirea {
background: url(../images/righta.png);
border: 3px #999;
width: 17px;
height: 37px;
}
.upEntirea {
background: url(../images/upa.png);
border: 3px #999;
width: 17px;
height: 37px;
}
.downEntirea {
background: url(../images/downa.png);
border: 3px #999;
width: 17px;
height: 37px;
}
.standingEntirea {
background: url(../images/downa.png);
border: 3px #999;
width: 17px;
height: 37px;
}
.leftEntireb {
background: url(../images/leftb.png);
border: 3px #999;
width: 15px;
height: 37px;
}
.rightEntireb {
background: url(../images/rightb.png);
border: 3px #999;
width: 17px;
height: 37px;
}
.upEntireb {
background: url(../images/upb.png);
border: 3px #999;
width: 17px;
height: 37px;
}
.downEntireb {
background: url(../images/downb.png);
border: 3px #999;
width: 17px;
height: 37px;
}
.standingEntireb {
background: url(../images/downb.png);
border: 3px #999;
width: 17px;
height: 37px;
}

#UserInfo{
	top:100px;
font-size: 14px;
color:#000000;
font-style:italic;
font-weight:bolder;
	position: relative;
	font-family:Arial, Helvetica, sans-serif;
}

#UserInfo2{
	top:50px;
font-size: 14px;
color:#000000;
font-style:italic;
font-weight:bolder;
	position: relative;
	font-family:Arial, Helvetica, sans-serif;
}

.standing1{background-position: 0 0;}

.frames1{background-position: 0 0;}
.frames2{background-position: -17px 0;}
.frames3{background-position: -34px 0;}
.frames4{background-position: -51px 0;}
.frames5{background-position: -68px 0;}

